.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fef9f1;
}

.container-main.two {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a1919;
}

.circle-button {
  background-color: #faea84;
  width: 200px;
  height: 200px;
  border-radius: 500px;
  border: none;
}

.circle-button.two {
  background-color: rgb(53 51 51);
  width: 200px;
  height: 200px;
  border-radius: 500px;
  border: none;
  box-shadow: 0 -10px 5px #111;
}
