a {
  text-decoration: none;
}

.container-one {
  max-width: 1600px;
  margin: 0 auto;
}

.container-two {
  max-width: 1900px;
  margin: auto;
}

.row {
  display: flex;
}

.column-one {
  flex-basis: calc(100%/10);
  margin: 30px;
}

.column-fourth {
  flex-basis: calc(100%/4);
}

.column-fifty {
  flex-basis: calc(100%/2);
}

.column-third {
  flex-basis: calc(100%/3);
}

.column-two-third {
  flex-basis: calc(200%/3);
}

.header-font {
  font-family: Avenir, sans-serif;
  font-size: 15px;
  color: #a0a0a0;
}

.head-sort {
  text-align: center;
  margin-left: 10px;
}

.canvas-blue {
  width: 200px;
  padding-top: 10px;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #294464;
  border-radius: 8px;
  border: none;
  padding: 15px;
  width: 130px;
}

.hero {
  padding-top: 40px;
  height: 850px;
  object-fit: cover;
  background-image: url("images/hero.jpg");
}

.product-header {
  padding-top: 40px;
  height: 850px;
  object-fit: cover;
  background-image: url("images/product/product-header.jpg");
}

.background-hero {
  background: linear-gradient(transparent, rgb(90 90 90 / 75%));
  height: 100%;
  padding-left: 60px;
}

.image-rel {
  position: relative;
  width: 100%;
}

.div-absolute {
  position: absolute;
  align-content: center;
  margin-top: 30px;
  margin-left: 50px;
}

.header-absolute {
  position: absolute;
  align-content: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: 50px;
  padding-top: 70px;
}

.h1-absolute {
  font-family: "Tiempos Headline", sans-serif;
  color: white;
  font-size: 50px;
}

.h1-header {
  font-family: "Tiempos Headline", sans-serif;
  color: white;
  font-size: 60px;
  font-weight: 500;
}

.p-absolute {
  font-family: avenir, sans-serif;
  width: 700px;
  color: white;
  font-size: 25px;
  line-height: 45px;
}

.p-header {
  font-family: avenir, sans-serif;
  width: 800px;
  color: white;
  font-size: 25px;
  line-height: 45px;
}

.hero-button-started {
  font-family: avenir, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: #294464;
  border: none;
  border-radius: 8px;
  width: 250px;
  height: 80px;
  margin-top: 25px;
}

.hr-line {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 0;
  opacity: 0.25;
  color: #a0a0a0;
}

.middle-box {
  background-color: #fafafa;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 120px;
}

.h1-clinicians {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #6e6e6e;
}

.command-header {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 550;
  font-size: 45px;
  text-align: left;
  color: #6e6e6e;
}

.command-p {
  font-family: avenir, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  color: #6e6e6e;
  width: 650px;
}

.command-quote {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  line-height: 1.5;
  color: #6e6e6e;
  width: 650px;
}

.learn-more-charting {
  font-family: avenir, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  color: #184362;
  width: 650px;
}

.p-clinicians {
  font-family: avenir, sans-serif;
  color: #6e6e6e;
  text-align: center;
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
}

.p-locations {
  font-family: avenir, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #6e6e6e;
  margin-left: auto;
}

.center {
  justify-content: center;
}

.right {
  margin-right: 125px;
  text-align: right;
}

.left {
  margin-left: 150px;
  text-align: left;
}

.prod1-head-position {
  margin-top: 75px;
  margin-left: 150px;
}

.prod1-head-img-l {
  width: fit-content;
  height: fit-content;
  margin-right: 150px;
}

.prod1-head-img-3 {
  width: fit-content;
  height: fit-content;
  margin-top: 150px;
  margin-right: 150px;
}

.prod1-head-img-r {
  width: fit-content;
  height: fit-content;
  margin-left: 150px;
}

.learn-more-box {
  height: 200px;
}

.h1-learn-more {
  width: 600px;
  color: #6e6e6e;
  font-family: "Tiempos Headline", sans-serif;
}

.p-learn-more {
  font-size: 18px;
  width: 600px;
  color: #6e6e6e;
  font-family: avenir, sans-serif;
}

.learn-more-button {
  font-size: 25px;
  color: white;
  background-color: #294464;
  border-radius: 4px;
  width: 275px;
  height: 75px;
  margin-top: 50px;
  justify-content: right;
  border: none;
}

.learn-align-left {
  width: 800px;
  padding-left: 25px;
}

.button-align-right {
  width: 800px;
  text-align: end;
}

.footer-1-background {
  background-color: #525351;
  padding-top: 100px;
  position: relative;
  height: 550px;
}

.canvas-white {
  width: 200px;
}

.footer-1-top-text {
  font-size: 20px;
  font-family: avenir, sans-serif;
  color: white;
  text-transform: uppercase;
}

.footer-1-middle-text {
  font-size: 20px;
  font-family: avenir, sans-serif;
  color: white;
  line-height: 40px;
}

.footer-1a {
  padding-left: 85px;
  margin-left: 85px;
  width: 900px;
}

.footer-1b {
  width: 400px;
}

.address {
  position: absolute;
  top: 200px;
  line-height: 2rem;
}

.footer-2 {
  font-size: 18px;
  font-weight: bold;
  color: #6e6e6e;
  font-family: avenir, sans-serif;
}

.footer-box {
  background-color: #fafafa;
}
